* {
    box-sizing: border-box !important;
    padding: 0 !important; 
    margin: 0;
    list-style-type: none !important;
}


body {
    background: #2E8B57 !important;
}

/*nav-bar start*/

header {
    display: flex;
    justify-content: center;
}

a {
    color: #111 !important;
    text-decoration: none !important;
}

.nav-bar {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 2px black solid;
}

nav ul {
    display: inline-flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
}

nav ul a{
    font-size: 1.7rem;
    margin: 5px 50px;
    text-decoration: none;
    position: relative;
    color: black;
}

.nav-btn{
    display: inline-block;
    margin-bottom: 15px;
}

.tw {
    font-size: 1.7rem;
    margin: 5px 10px;
    color: black;
    background-color: transparent;
    border: none;
    position: relative;
    align-self: center;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.mainMenu a:hover {
    color: #E1E586 !important;
}

.buy-now {
    font-size: 1.7rem;
    background-color: #F5F5F5;
    padding: 2px !important;
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in;
}

.btn a:hover {
    color: #111 !important;
}

.buy-now:hover {
    box-shadow: 6px 6px 0px 0px rgb(205, 235, 58);
}

.div {
    border-left: 2px solid black;
    height: 82px;
    position: absolute;
    left: 63%;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .mainMenu li a:hover {
    background: none;
    color:#E1E586;
}


@media(max-width: 1246px) {
    .buy-now {
        display: none;
    }

    .div {
        display: none;
    }
}

@media(max-width: 1094px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #2E8B57;
        transition: top 1s ease;
        display: none;
    }

    nav li {
        margin: 20px;
    }

    .nav-bar {
        justify-content: right;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
        position: relative;
    }

    nav .mainMenu li a:hover {
        background: none;
        color:#E1E586;
        font-size: 1.6rem;
    }

    .tw {
        display: none;
    }


    .buy-now{
        display: none;
    }

    .div {
        display: none;
    }

}

/*nav-bar end*/

/*hero start*/

.hero-container {
    display: flex;
    z-index: 3 !important;
    position:relative;
}

.hero-para{
    margin-top: 250px;
    margin-left: 40px;
}

.hero-text{
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    font-size: 120px;
    z-index: 5 !important;
    margin-left: 10px;
    margin-top: 50px;
}

.hero-para-textbox {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 22px;
    margin-left: 30px;
    margin-right: 10px;
}

.hero-btn {
    display: flex;
    margin-top: 40px;
    margin-left: 30px;
}


.btn {
    font-size: 1.7rem !important;
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
    margin: 20px;
    text-transform: capitalize;
    background-color:#f5f5f5 !important;
    width: 200px;
    height: 50px;
    padding: 2px !important;
    cursor: pointer;
    font-family: 'Fredoka One', cursive !important;
    border-radius: 0 !important;
    transition: 0.5s ease;
}

.btn-sol {
    font-size: 1.7rem !important;
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
    margin: 20px;
    text-transform: capitalize;
    background-color:#f5f5f5 !important;
    width: 200px;
    height: 50px;
    padding: 2px !important;
    cursor: pointer;
    font-family: 'Fredoka One', cursive !important;
    border-radius: 0 !important;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: 6px 6px 0px 0px rgb(205, 235, 58);
    background-color: #E1E586;
}

.btn-sol:hover {
    box-shadow: 6px 6px 0px 0px rgb(205, 235, 58);
    background-color: #E1E586;
}

.hero-img-container {
    background-size: cover;
    margin-top: -120px;
    z-index: 0 !important;
    position:relative;
}

/*hero end*/

.marquee-container {
    width: 100%;
    height: 15vh;
    background-color: #E1E586;
    margin-top: -30px !important;
    z-index: 3;
    position: relative;
    overflow: hidden;
}

.marquee {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .marquee::before, .marquee:after {
    position: absolute;
    top: 0;
    content: "";
    z-index: 1;
  }
  
  .marquee:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
  }
  
  .marquee::after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
  }
  
  .marquee-content {
    list-style: none;
    display: flex;
    animation: scrolling 10s linear infinite;
  }
  
  @keyframes scrolling {
    0% {
      transform: translateX(80vw);
    }
    100% {
      transform: translateX(calc(-1 * 10vw * 1));
    }
  }
  
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    flex-shrink: 0;
    font-size: 3rem;
    white-space: nowrap;
    text-transform: capitalize;
    font-family: 'Fredoka One', cursive;
    padding: 10px 0 !important;
    margin-top: 10px;
  }
  
.how-to-win-conrainer {
    background-color: white;
}

.how-to-win {
    justify-content: center;
    align-items: center;
    font-size: 60px;
    display: flex;
    padding-top: 100px !important;
    margin-bottom: 100px !important;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    justify-content: center;
    display:flex;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow:4px 4px 0px 0px rgba(0, 0, 0, 0.93); /* this adds the "card" effect */
  padding: 30px !important;
  text-align: center;
  background-color: #f1f1f1;
  margin: 20px;
}

.card-head {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'Fredoka One', cursive;
}

.card-img {
    padding: 10px !important;
}

.card-text {
    font-size: 18px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 50px;
    padding-bottom: 60px !important;
}

.win-sec-container {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}

.win-container {
    padding: 20px !important;  
}

.win-para {
    font-size: 20px;
    margin-right: 50px;
    margin-left: 30px;
}

.win-sec-title {
    justify-content: center;
    align-items: center;
    font-size: 50px;
    display: flex;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Fredoka One', cursive;
}

.win-sec-btn {
    margin: 20px;
    font-size: 1.7rem;
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
    margin: 20px;
    text-transform: capitalize;
    background-color:#E1E586;
    width: 200px;
    height: 50px;
    padding: 2px !important;
}

.win-sec-btn-buy {
    margin: 20px;
    font-size: 1.7rem;
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
    margin: 20px;
    text-transform: capitalize;
    background-color:#E1E586;
    width: 200px;
    height: 50px;
    padding: 2px !important;
}

.win-sec-btn:hover {
    box-shadow: 6px 6px 0px 0px rgb(205, 235, 58);
    background-color: #E1E586;
}

.win-sec-btn-buy:hover {
    box-shadow: 6px 6px 0px 0px rgb(205, 235, 58);
    background-color: #E1E586;
}

.win-sect-btn {
    display: flex;
    margin-top: 50px;
}


.what-container {
    display: flex;
    background-color: #f1f1f1;
    margin-top: 40px;
    margin-bottom: 40px;
}

.what-img {
    padding: 20px !important;
    margin-top: 200px;
}

.what-para{
    margin-top: 20px;
    margin-left: 20px;
}

.what-title {
    justify-content: center;
    align-items: center;
    font-size: 50px;
    display: flex;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 30px;
    font-family: 'Fredoka One', cursive;
    padding-right: 20px !important;
}

.what-para-text{
    font-size: 20px;
    margin-right: 50px;
    margin-left: 30px;
    margin-bottom: 100px;
}


.roadmap-container{
    margin-top: 100px;
}

 .road-text h3 {
    font-size: 50px !important;
    font-family: 'Fredoka One', cursive;
    justify-content: center;
    display: flex;
    align-items: center;
 }


 .road-text p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px !important;
    margin: 0px 50px !important;
    padding-top: 20px !important;
    padding-left: 20px !important;
    padding-right:20px !important;
 }

 .road-map-card {
    display: flex;
    justify-content: center;
 }

 .r-card {
    box-shadow:4px 4px 0px 0px rgba(0, 0, 0, 0.93); /* this adds the "card" effect */
    padding: 30px !important;
    text-align: center;
    background-color: #f1f1f1;
    margin: 20px;
    width: 500px;
 }

 span {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    font-size: 40px;
}

span i {
    margin: 20px;
    cursor: pointer;
}

span i:hover {
    color: #E1E586;
}

.socal-icon p {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    margin-top: 10px;
}

.img-container {
    background-size: cover;
    position:relative;
    overflow: hidden;
    padding: 50px !important;
}

.what-img-container{
    background-size: cover;
    position:relative;
    overflow: hidden;
    padding: 50px !important;
    margin-top: 150px;
}

@media(max-width: 1199px) {
    .hero-para{
        margin-top: 0px;
        margin-left: 0px;
    }

    .hero-text {
        font-size: 80px;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 100px;
    }

    .hero-para-textbox {
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        margin-top: 40px;
        font-size: 24px;
    }

    .hero-btn {
        margin: 0;
        padding: 0;
        justify-content: center;
        margin-bottom: 50px;
    }

    .hero-img-container {
        margin-top: 0px; 
        margin-left: -50px;
    }

    .marquee-container{
        height: auto;
    }

    .win-sect-btn {
        margin: 10px;
        margin-top: 40px;
        padding: 0 !important;
    }

    .offset-2 {
        margin-left: 8.66666667%;
    }

    .how-to-win {
        margin-top: 50px;
    }

    .card {
        margin-left: 200px;
        margin-right: 200px;
        margin-bottom: 100px;
    }

    .img-container {
        justify-content: center;
        align-items: center;
        display: flex;
        overflow: hidden;
    }

    .what-img-container{
        justify-content: center;
        align-items: center;
        display: flex;
        overflow: hidden;
    }

    .win-para {
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .win-sect-btn {
        justify-content: center;
        align-items: center;
    }
    .win-sec-title {
        margin-top: 60px;
        margin-bottom: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .what-title {
        justify-content: center;
        text-align: center;
    }

    .what-para-text {
        justify-content: center;
        text-align: center;
    }
}

@media(max-width: 724px) {
    .hero-btn {
        flex-direction: column;
        justify-content: left;
        margin-left: 25px;
        margin-top: 50px;
    }
    .hero-text {
        text-align: left;
        font-size: 60px;
    }
    .hero-para-textbox {
        text-align: left;
        font-size: 20px;
    }

    .win-para {
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
    }
    .win-sec-title {
        margin-left: 30px;
    }
    .win-sect-btn {
        justify-content: left;
        align-items: left;
    }
    .card {
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
    }

    .card {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
    .how-to-win {
        text-align: center;
    }

    .win-sect-btn {
        justify-content: left;
    }
    .what-title{
        text-align: left;
    }

    .what-para-text{
        text-align: left;
        justify-content: center;
    }

    .card-text {
        text-align: left;
    }

    .img-container {
        overflow: hidden;
        padding: 50px !important;
    }

    .what-img-container{
        overflow: hidden;
        padding: 50px !important;
        margin-top: 50px;
    }

    .what-container {
        display: block;
    }

    .hero-container {
        display: block;
    }

    .btn-sol {
        display: none;
    }

    .win-sec-btn-buy {
        display: none;
    }

    .win-sec-btn {
        justify-content: left;
    }

}
